figure.float-right {
	float: right;
	margin: 10px 10px 10px 0;
}

.float-center {
	margin: 0 auto;
}

figcaption{
	padding-top: 8px;
	padding-bottom: 8px;
	color: #777;
	text-align: left;
}

.tt {
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.motivation{
	position: relative;
}

.left-align{
	position: relative;
	margin-left: 5ex;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a {
	text - decoration: none;
	color: #000;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a {
	text - decoration: none;
	color: #000;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover {
	text-decoration:none;
	color: #000;
	cursor: default;
}

ul.quad {
	width:760px;
	overflow:hidden;
}

.quad>li{
	float:left;	
	width:25%; 
}

/*Temporary*/
.alert-info{
	width: 60%;
}