path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

path.label {
	text-anchor: middle;
	font-weight: bold;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

#app-canvas {
	min-height: 500px;
}

